This {{ instrument | default('Agreement') }} is made on {{ execution_date }} by and between {{ party_a_name }} ("{{ party_a_label | default('First Party') }}") and {{ party_b_name }} ("{{ party_b_label | default('Second Party') }}").
